POSTGRES_DB=afterpay
POSTGRES_USER=afterpay_user
POSTGRES_PASSWORD=your_password

DATABASE_URL=jdbc:postgresql://localhost:5432/afterpay
DATABASE_USERNAME=afterpay_user
DATABASE_PASSWORD=your_password

SERVER_PORT=8080

JWT_ACCESS_SECRET=your_access_secret
JWT_REFRESH_SECRET=your_refresh_secret
EMAIL_VERIFICATION_SECRET=your_email_verification_secret

RESEND_API_KEY=
RESEND_FROM_EMAIL=afterpay@flex-tn.com
RESEND_FROM_NAME=AfterPay
